@import "tailwindcss";

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-heart {
  animation: heartbeat 2s ease-in-out infinite;
  display: inline-block; /* Ensures transform works correctly */
  will-change: transform; /* Makes the animation smoother */
}